.front-panel {
    position: relative;
    /* width: 700px; */
    width: 1400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-panel__main {
    position: absolute;
}

.front-panel__svg {
    width: 100%;
    height: 100%;
}

.front-panel .display {
    z-index: 10;
    margin-top: 60px;
    margin-left: 210px;
}

.front-panel__button {
    user-select: none;
}

.front-panel__usb-port {
    outline: 2px dashed transparent;
    transition: all 0.3s ease 0s;

    &:hover {
        cursor: pointer;
        outline-color: #0967d3;
    }
}